#main {
  margin: 1.5em 0.0075em;
  background: rgba(220, 220, 220, 0.5);
  text-align: center;
  border-radius: 0.4em;
}
h1 {
  max-width: 100%;
}
h3 {
  margin-top: 3em;
}
.foot {
  padding-bottom: 1em;
}
a {
  color: green;
}
.centered{
    text-align: center;
    font-family: arial;
    max-width: 100%;
  }  
#title {
  font-family: sans-serif;
  text-align: center;
  padding-top: 0.5em;
  font-size: 2.5em;
}
#image{
 display: block;
 max-width: 100%;
 margin: auto;
}
#img-div {
  max-width: 100%;
  background: #fff;
  margin: 0.75em;
  padding: 0.75em;
}
#cite {
  display: block;
  margin: auto;
  padding-top: 2em;
  width: 80%;
  text-align: left;
  font-style: italic;
  line-height: 1.4;
}
#tribute-info {
  display: block;
  margin: auto;
  max-width: 60%;
  text-align: left;
  font-family: sans-serif;
  line-height: 120%;
}
#img-caption {
  
  max-width: 100%;
  padding: 0.5em;
}
